# Dossier des fichiers compilés par Maven
target/

# Dossier de logs/rapports générés
20251013080047/

# Logs et fichiers temporaires
*.log
*.tmp

# Fichiers de configuration des IDE
.idea/
.vscode/
*.iml

# Fichiers de données générés par le jeu (Enregistrement & Simulation)
metrics/trajectoire_joueur.txt
replay.txt
metrics/*.csv
metrics/maze.json
metrics/courbe_score_replay.png
metrics/courbe_victoire_ia.png